.footer-container {
  align-items: flex-start;
}

.footer-section {
  padding: 100px 0;
}

.footer-left {
  max-width: 264px;
  gap: 16px;
  flex-direction: column;
  margin-right: 120px;
}

.logo.footer {
  color: #f4f4fd;
}

.logo.footer .logo-prefix {
  color: #4d5ae5;
}

.footer-center {
  gap: 16px;
  flex-direction: column;
}

.footer-socials-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.f-social-icons {
  display: flex;
  gap: 16px;
}

.f-social-link {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.f-social-link-icon {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.f-social-link:hover,
.f-social-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe {
  margin-left: auto;
}

.footer-subscribe-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
}

.footer-subscribe-input {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: transparent;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input::placeholder {
  color: #ffffff;
}

.footer-subscribe-input:focus {
  border-color: #31d0aa;
}

.footer-subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus,
.footer-subscribe-btn:active {
  background-color: #31d0aa;
}

.footer-subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}
